@page
@model SipheleleProducts.Web.Pages.Products.UpdateProductModel
@{
}
<div class="container-fluid">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Update Product!</h1>
                            </div>
                            <form class="user" enctype="multipart/form-data" method="post">
                                <input asp-for="updateProductViewModel.ProductId" type="hidden" />
                                <input asp-for="updateProductViewModel.SupplierId" type="hidden" />
                                <input asp-for="updateProductViewModel.CategoryId" type="hidden" />
                                <input asp-for="updateProductViewModel.ImagePath" type="hidden" />

                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label class="form-label">Product Image</label><br />
                                        <td><img src="@Model.updateProductViewModel.ImagePath" width="150" height="150"></td>
                                     
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input asp-for="updateProductViewModel.Picture" type="file" class="form-control form-control-user" id="exampleFirstName"
                                               style="background-color: #f2f2f2">
                                        @Html.ValidationMessageFor(model => model.updateProductViewModel.Picture, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label class="form-label">Product Name</label>
                                        <input asp-for="updateProductViewModel.ProductName" type="text" class="form-control form-control-user" id="exampleFirstName"
                                               style="background-color: #f2f2f2">
                                        @Html.ValidationMessageFor(model => model.updateProductViewModel.ProductName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label class="form-label">Supplier</label>
                                        <div id="appFilterUpdateSuppliers" style="background-color:   #f2f2f2">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.updateProductViewModel.SupplierId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label class="form-label">Category</label>
                                        <div id="updatecategoriesDisplay" style="background-color:   #f2f2f2">
                                        </div>
                                        @Html.ValidationMessageFor(model => model.updateProductViewModel.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label class="form-label">UnitPrice</label>
                                        <input asp-for="updateProductViewModel.UnitPrice" type="text" class="form-control form-control-user" id="exampleFirstName"
                                               style="background-color:  #f2f2f2">
                                        @Html.ValidationMessageFor(model => model.updateProductViewModel.UnitPrice, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label class="form-label">UnitInStock</label>
                                        <input asp-for="updateProductViewModel.UnitInStock" type="text" class="form-control form-control-user" id="exampleFirstName"
                                               style="background-color:   #f2f2f2">
                                        @Html.ValidationMessageFor(model => model.updateProductViewModel.UnitInStock, "", new { @class = "text-danger" })
                                    </div>
                             </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Save
                                </button>
                                <hr>

                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-select@2.6.4/dist/vue-select.js"></script>
    <script src="~/js/UpdateCategoriesDropDown.js"></script>
    <script src="~/js/UpdateSuppliersDropDown.js"></script>

}

