@page
@model SipheleleProducts.Web.Pages.Suppliers.ConfirmationDeleteOfSuppliersModel
@{
}
<div class="container-fluid" style="align-content:center;">
    <div class="container-fluid">
        <!-- Content Row -->
        <br />
        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card border-left-default shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <h1 style="color:cornflowerblue"> Remove Supplier</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post">
        <div class="row">
 
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card border-left-default shadow h-100 py-2">
                    <div class="card-body">

                            <h5 style="color:red;">Are you sure you want to remove this Item?</h5>
                        <div class="col-sm-8 col-md-9 col-lg-9">
                            <label><strong>Company Name:</strong><br />  @Model.RemoveSupplierViewModel.CompanyName</label><br />
                                <label><strong>Contact Name:</strong>  <br />  @Model.RemoveSupplierViewModel.ContactName</label><br />
                                <label><strong>Contact Title:</strong><br />  @Model.RemoveSupplierViewModel.ContactTitle</label><br />
                                <label><strong>Address:</strong>  <br />  @Model.RemoveSupplierViewModel.Address</label><br />
                                <label><strong>City:</strong><br />  @Model.RemoveSupplierViewModel.City</label><br />
                                <label><strong>Region:</strong>  <br />  @Model.RemoveSupplierViewModel.Region</label><br />
                                <label><strong>Postal Code:</strong>  <br />  @Model.RemoveSupplierViewModel.PostalCode</label><br />
                                <label><strong>Country:</strong><br />  @Model.RemoveSupplierViewModel.Country</label><br />
                                <label><strong>Fax:</strong>  <br />  @Model.RemoveSupplierViewModel.Fax</label><br />
                                <label><strong>PhoneNumber:</strong>  <br />  @Model.RemoveSupplierViewModel.PhoneNumber</label><br />
                                <label><strong>Home Page Description:</strong>  <br />  @Model.RemoveSupplierViewModel.HomePage</label>
                        </div>
                   <hr />
                            <button type="submit" class="btn btn-danger btn-lg">YES</button>

                            
                            <a href="/Suppliers/GetAllSuppliers" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Cancel</a>
                    </div>

                </div>
            </div>
        </div>
        </form>
    </div>
</div>