@page
@model SipheleleProducts.Web.Pages.Categories.UpdateCategoryModel
@{
}
<div class="container-fluid">
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Update Category!</h1>
                            </div>
             
                            <div class="form-group row">
                                <div class="col-sm-12 mb-3 mb-sm-0">
                                    <label class="form-label">Product Image</label><br />
                                    <td><img src="@Model.updateCategoryViewModel.ImagePath" width="150" height="150"></td>

                                </div>
                            </div>
                            <form class="user" enctype="multipart/form-data" method="post">
                                @Html.AntiForgeryToken()
              
                                <abp-input asp-for="updateCategoryViewModel.CategoryId" type="hidden" />
                                <abp-input asp-for="@Model.updateCategoryViewModel.ImagePath" type="hidden" />

                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                    <input asp-for="updateCategoryViewModel.Picture" type="file" class="form-control form-control-user" id="exampleFirstName">
                                        @Html.ValidationMessageFor(model => model.updateCategoryViewModel.Picture, "", new { @class = "text-danger" })
                                </div>
                                </div>
                                <br />
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <label class="form-label">Category Name</label>
                                        <input asp-for="updateCategoryViewModel.CategoryName" type="text" class="form-control form-control-user" id="exampleFirstName"
                                               style="background-color: #f2f2f2">
                                        @Html.ValidationMessageFor(model => model.updateCategoryViewModel.CategoryName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-9 mb-sm-0">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea asp-for="updateCategoryViewModel.Description" class="form-control" id="exampleFormControlTextarea1" rows="9" style="background-color: #f2f2f2"></textarea>
                                        @Html.ValidationMessageFor(model => model.updateCategoryViewModel.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Save
                                </button>
                                <hr>
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>